*{
    margin: 0; padding: 0;
}
body{
    
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.bg-red{
    background: #ff0000;
}
.bg-orange{
    background: #f94f01;
}
.bg-yellow{
    background: #ff9900;
}
.menu-top >ul{
    display: flex;
    background: #38ab35;
    list-style: none;
    align-items: center;
    margin-bottom: 0;
    margin-right: 70px;
   

    
}
.menu-top{
    display: flex;
    justify-content: flex-end;
    margin: 0;
}
.menu-top li{
    height: 30px;
}
.menu-top a{
    width: auto;
    height: 30px;
    padding: 0px 10px;
    height: 30px;
    font-size: 13px;
    color:#f5f5f5;
    text-decoration: none;
}
.bg-main{
    background: #38ab35;
}

a:hover{
    color: #f5f5f5;
    text-decoration: none;
}

.show{
    position: relative;
}
.ul-hiden{
    color: white;
    background: black;
    position: absolute;
    width: 250px;
    height: auto;
    padding: 0px;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    transition: visibility 3s, opacity 0.5s linear;
    
}
.ul-hiden li{
    border-bottom:1px solid #f5f5f5;
    margin: 0px;
}
.ul-hiden li:hover{
    background: #339933;
}
.ul-hiden a{
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    padding-left: 10px;
    
   
}
.show:hover .ul-hiden{
    visibility: visible;
    opacity: 1;
    z-index: 99;
   
}
.in-top{
    position: fixed;
    top:0px;
    /* left    :104px; */
    
    background: white ;
}
.top-head{
    z-index: 10;
    border-bottom: 1px solid rgb(249, 253, 185);
    padding: 0px 70px;
}
.top-head ul,li,a{
    list-style: none;
    text-decoration: none;
    margin-left: 0;
}
.left{
    position: relative;
    width: 245px;
    height: 350px;
}
.menu-left{
    border: 1px solid #343834;
    width: 245px;
    height: 350px;
  
    
}
.menu-left-list{
    width: 243px;
    padding: 0px;
    margin: 0;
    height: 350px;
}
.sub-menu-list{
    width: 305px;
    height: 527px;
    padding:0px;
    background: #ffffff;
    position: absolute;
    top:0px;
    left: 244px;
    border: 1px solid rgb(243, 214, 132);
    border-radius: 8px;
}
.show-l:hover .sub-menu-list{
    visibility: visible;
    opacity: 1;
    z-index: 99;
   
}
.px-70{
    padding:0 70px;
}
.px-85{
    padding:0 85px;
}
.menu-left li{
    padding: 0 8px;
    font-size: 12px;
    height: 35px;
    display: block;
    
}
.menu-left a{
    color: black;
    
}
.menu-left a:hover{
    color: rgb(33, 88, 28);
    font-weight: 600;
}
.menu-left li:hover{
    background: #eeeeee;
}
.panel-title{
    font-size: 16px;
    font-weight: 400;
}
.right{
    position: relative;
    width: calc(100% - 245px);
    height: 450px;
    
}
.pic{
    position: absolute;
    bottom:0px;
    right: 0px;
}

.content{
    padding-bottom: 50px;
}

/* change arrow icon */
.carousel-control-prev-icon, .carousel-control-next-icon {
    
    color: black !important;
}

/* sale-flash */
.sale-flash{
    position: absolute;
    top:46px;
    left: 2px;
    padding: 3px 0;
    z-index: 9;
}
.product-overlay{
    position: absolute;
    top:120px;
    left:0px;
    right: 0px;
    z-index: 9;
    visibility: hidden;
}
.back-img{
    position: absolute;
    top:42px;
    left:49px;
    z-index: 9;
    visibility: hidden;
    
}
.product-overlay a{
    visibility: hidden;
}
.product-image:hover .back-img  {
    visibility: visible;
}
.product-image:hover .product-overlay > a {
    visibility: visible;
}

/* footer */
.footer a{
    color: rgba(255, 255, 255, 0.89);
    font-size: 14px;
}